<% @title = "Network Rail Live Feed - Raw data - Bristol area" %>
<% load './convert.rb' %>
<div class="container">
  <h1>Network Rail Live Feed - Rawdata - Bristol area</h1>
  <p>
    This page outputs the train data information from the Network Rail feeds for the Bristol area.<br>
    At present trains in the Bristol area are in the following locations.
  <p>
    This page doesn't auto-refesh so remember to to this manually
  <br>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Train Name </th>
      <th>Latest report</th>
      <th>Latest time</th>
      <th>Previous report</th>
      <th>Previous time</th>
    </tr>
    <% @out2.each do |recent|%>
      <tr>
        <td><%= recent[0] %></td>
        <td><%= StanoxToName(recent[1]) %></td>
        <td><%= recent[2] %></td>
        <td><%=StanoxToName(recent[4])%></td>
        <td> <%=recent[5] %></td>
      </tr>
    <% end %>
  </table>
</div>

